{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1>{{ post.title }}</h1>
            <p>{{ post.text|linebreaksbr }}</p>
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
        {% else %}
            <h2>Error: record with id={{ post.id }} is not published yet.</h2>
            {% if user.is_authenticated %}
                <p><a href="{% url 'post_publish' pk=post.pk %}">Publish this post</a> or return to <a href="{% url 'post_list' %}"> posts list</a>?</p>
                <p>You can also <a href="{% url 'post_remove' pk=post.pk %}">remove this post</a>.</p>
            {% else %}
                <p>Return to <a href="{% url 'post_list' %}"> posts list</a>?</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}